* {
    font-family: "Adrianna", sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}

.category,
.name,
.on-sale-soon-text,
.sale-button-text,
.price {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.title {
    text-align: center;
}

.category {
    color: rgb(116, 115, 115);
}

.name {
    color: #009de1;
    font-weight: bold;
}

.on-sale-soon-text {
    color: white;
    text-align: center;
}

.sale-button-text,
.price {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.photo {
    width: 100%;
    height: 200px;
}

.card {
    border: 1px solid rgb(186, 183, 183);
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.photo-block {
    background-color: brown;
    width: 100%;
    height: 300px;
    background: #000;
    margin-bottom: 15px;
}

.wrap {
    display: flex;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.photo-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* зображенню заповняє блок, зберігаючи співвідношення сторін */
}

.sale-button {
    width: 50%;
    height: 70px;
    text-align: center;
    margin-top: 40px;
    background-color: #f0e524;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.on-sale-soon-button {
    width: 50%;
    height: 70px;
    text-align: center;
    margin-top: 40px;
    background-color: #cc349c;
    text-align: center;
    text-decoration: none;
    border: none;
}

.on-sale-soon-button span {
    color: white;
}

.old-price {
    text-decoration: line-through;
    font-size: 16px;
    margin-right: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.price {
    font-weight: bold;
    margin-top: 20px;
}

.price-on-sale-soon {
    color: transparent;
}

.photo-on-sale-soon,
.name-on-sale-soon {
    cursor: text;
}

.swipe {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(186, 183, 183);
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    top: 118px;
    color: rgb(186, 183, 183);
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

.swipe-left {
    left: -25px;
}

.swipe-right {
    right: -25px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.new {
    border: 5px solid rgb(255, 255, 255);
    background-color: #85b425;
    top: -50px;
    right: 5%;
}

.unique {
    border: 5px solid rgb(255, 255, 255);
    background-color: #009de1;
    top: -50px;
    right: 5%;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(186, 183, 183);
    width: 100%;
    height: 140px;
}