main {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        margin: 25px;
    }
}

#circle {
    width: 120px;
    height: 120px;
    background: greenyellow;
    border-radius: 50%;
}

#square {
    width: 120px;
    height: 120px;
    background: purple;
}

#rectangle {
    width: 220px;
    height: 120px;
    background: lightblue;
}

#oval {
    width: 200px;
    height: 100px;
    background: pink;
    border-radius: 100px / 50px;
}

#triangle {
    width: 0;
    height: 0;
    border-bottom: 140px solid #fcf921;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

#triangle_down {
    width: 0;
    height: 0;
    border-top: 140px solid #fcb721;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

#triangle_left {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 140px solid #4efe54;
    border-bottom: 70px solid transparent;
}

#triangle_right {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 140px solid #ff7f24;
    border-bottom: 70px solid transparent;
}

#diamond {
    width: 120px;
    height: 120px;
    background: #52fff1;
    transform: rotate(45deg);
}

#trapezium {
    height: 0;
    margin-top: 30px;
    width: 120px;
    border-bottom: 120px solid red;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
}

#parallelogram {
    width: 160px;
    height: 100px;
    background: purple;
    transform: skew(30deg);
}

#star {
    width: 0;
    height: 0;
    margin: 70px 0;
    color: rgb(132, 17, 17);
    position: relative;
    display: block;
    border-right: 100px solid transparent;
    border-bottom: 70px solid rgb(132, 17, 17);
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

#star:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    top: -45px;
    left: -65px;
    border-bottom: 80px solid rgb(132, 17, 17);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(-35deg);
}

#star:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    color: rgb(132, 17, 17);
    border-right: 100px solid transparent;
    border-bottom: 70px solid rgb(132, 17, 17);
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
}

#star_six_points {
    width: 1px;
    height: 1px;
    display: block;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
    margin: 10px auto;
}

#star_six_points::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
    margin: 30px 0 0 -50px;
    transform: rotate(180deg);
}

#pentagon {
    width: 54px;
    margin-top: 5rem;
    position: relative;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #277bab transparent;
}

#pentagon:before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: -84px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent #277bab;
}

#hexagon {
    background-color: blueviolet;
    width: 100px;
    height: 55px;
    position: relative;
    margin-bottom: 40px;
}

#hexagon::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -24px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid blueviolet;
}

#hexagon::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -24px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid blueviolet;
}

#octagon {
    background-color: rgb(100, 149, 237);
    width: 100px;
    height: 100px;
    position: relative;
}

#octagon::before {
    content: "";
    width: 42px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid rgb(100, 149, 237);
    border-left: 29px solid white;
    border-right: 30px solid white;
}

#octagon::after {
    content: "";
    width: 42px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid rgb(100, 149, 237);
    border-left: 29px solid white;
    border-right: 30px solid white;
}

#heart {
    position: relative;
    height: 100px;
    width: 100px;
}

#heart::before,
#heart::after {
    content: "";
    width: 70px;
    height: 115px;
    position: absolute;
    background: rgb(255, 0, 0);
    left: 70px;
    -moz-border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
}

#heart::after {
    left: 0;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
}

#infinity {
    width: 220px;
    height: 100px;
    position: relative;
}

#infinity::before,
#infinity::after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border: 20px solid rgb(100, 237, 189);
    border-radius: 50px 50px 0 50px;
    -moz-border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

#infinity::after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    -moz-border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#comment_bubble {
    background-color: cornflowerblue;
    width: 140px;
    height: 100px;
    position: relative;
    border-radius: 12px;
}

#comment_bubble::before {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 38px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 26px solid cornflowerblue;
    border-bottom: 13px solid transparent;
}

#pacman {
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    border-top: 70px solid rgb(242, 255, 2);
    border-bottom: 70px solid rgb(242, 255, 2);
    border-left: 70px solid rgb(242, 255, 2);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}